logs
*.log
npm-debug.log*
pids
*.pid
*.seed
build
lib-cov
coverage
.lock-wscript
node_modules
.npm
.node_repl_history
.sass-cache
.DS_Store
.vscode
yarn.lock
client/vendor
client/app/**/*.html
client/css
client/app/app.templates.js
.tmp
docs/
package-lock.json
bower_components/