.container-fluid
	.row.container-buttons
		.col.1.offset-s11
			button.btn-floating.btn-large.modal-trigger.blue(data-target='createProductModal')
				i.material-icons add
	.row
		#createProductModal.modal
			.modal-content
				h4 Crear Producto
				form-create-product
			.modal-footer
				button.modal-action.modal-close.waves-effect.btn-flat Cancelar
	.row
		card-details-product.col.s3(
			ng-repeat="product in $ctrl.products track by $index"
			product="product"
		)
		